.card{
	position: relative;
	height: 255px;
	width: 345px;
	background-color: #fff;
	color: $blue;
	border: 1px solid $blue;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 5px 5px rgba($blue , 0.05);
	margin-bottom: 15px;
	transition: all 200ms, opacity 200ms linear 0s;
	cursor: pointer;
	opacity: 0;
	&:hover{
		background-color: $blue;
		color: #fff;
		transform: scale(1.04)
	}
	&.visible{
		transition: all 200ms, opacity 200ms linear 100ms;
		opacity: 1;
	}
	&.reading::before,
	&.read::before{
		content: 'still reading';
		position: absolute;
		top: 12px;
		left: 15px;
		color: $blue;
		font-family: Montserrat Bold;
		text-transform: uppercase;
		padding: 5px 20px;
		border: 1px solid $blue;
		border-radius: 2px;
		transition: 200ms;
		font-size: 0.8rem;
	}
	&.read{
		opacity: 0.4;
	}
	&.read::before{
		content: 'read';
		background-color: $blue;
		color: #fff;
	}
	&.reading:hover::before,
	&.read:hover::before{
		color: #fff;
		border-color: #fff;
	}
	.read-time{
		position: absolute;
		font-family: Montserrat Regular;
		font-style: italic;
		font-size: 0.875rem;
		top: 15px;
		right: 15px;
		opacity: 0.6;
	}
	.card-name{
		position: absolute;
		left: 15px;
		bottom: 20px;
		font-family: Tiempos Text Regular;
		font-size: 1.875rem;
		font-style: italic;
	}
}