.modal-overlay{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	box-sizing: border-box;
	padding: 0 50px;
	z-index: 1;
	opacity: 0;
	transition: 400ms;
	.modal{
		opacity: 0;
		transform: translateY(50px);
		transition: 400ms;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 500px;
		background-color: #fff;
		border: 1px solid $blue;
		border-radius: 2px;
		box-sizing: border-box;
		padding: 30px 40px;
		box-shadow: 0 5px 5px rgba($blue , 0.05);
		@media (max-width: 375px){
			padding: 25px 20px;
		}
		span{
			font-family: Montserrat Bold;
			font-size: 1.125rem;
			letter-spacing: -0.025em;
			line-height: 125%;
			color: $blue;
			text-align: center;
			margin-bottom: 45px;
			@media (max-width: 375px){
				font-size: 0.8rem;
				margin-bottom: 25px;
			}
		}
		.button{
			width: 100%;
			transition: 200ms;
			text-align: center;
			box-sizing: border-box;
			padding: 0 10px;
			&:hover{
				transform: scale(1.01);
				opacity: 0.8;
			}
			&#close-modal{
				margin-top: 13px;
				background-color: #fff;
				color: $blue;
				border: 1px solid $blue;
			}
			@media (max-width: 500px){
				font-size: 0.625rem;
				height: 36px;
			}
		}
	}
}