html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Monserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Tiempos Text Regular";
  src: url("../fonts/TiemposText-Regular.ttf");
}
h1 {
  font-family: Montserrat Bold;
  font-size: 4rem;
  color: #004687;
}

p {
  font-family: Montserrat Regular;
  font-size: 1.125rem;
  color: rgba(0, 70, 135, 0.8);
}

input {
  height: 48px;
  width: 345px;
  box-sizing: border-box;
  padding: 18px 20px;
  font-family: Montserrat Regular;
  font-size: 14px;
  outline: none;
  border: 1px solid #004687;
  border-radius: 2px;
  color: #004687;
  text-transform: capitalize;
}
input::placeholder {
  color: rgba(0, 70, 135, 0.5);
  font-style: italic;
  text-transform: none;
}

.button {
  height: 48px;
  width: 225px;
  background-color: #004687;
  color: #fff;
  font-family: Montserrat Bold;
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}
.button#sign-in {
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}

.card {
  position: relative;
  height: 255px;
  width: 345px;
  background-color: #fff;
  color: #004687;
  border: 1px solid #004687;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 70, 135, 0.05);
  margin-bottom: 15px;
  transition: all 200ms, opacity 200ms linear 0s;
  cursor: pointer;
  opacity: 0;
}
.card:hover {
  background-color: #004687;
  color: #fff;
  transform: scale(1.04);
}
.card.visible {
  transition: all 200ms, opacity 200ms linear 100ms;
  opacity: 1;
}
.card.reading::before, .card.read::before {
  content: "still reading";
  position: absolute;
  top: 12px;
  left: 15px;
  color: #004687;
  font-family: Montserrat Bold;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 1px solid #004687;
  border-radius: 2px;
  transition: 200ms;
  font-size: 0.8rem;
}
.card.read::before {
  content: "read";
  background-color: #004687;
  color: #fff;
}
.card.reading:hover::before, .card.read:hover::before {
  color: #fff;
  border-color: #fff;
}
.card .read-time {
  position: absolute;
  font-family: Montserrat Regular;
  font-style: italic;
  font-size: 0.875rem;
  top: 15px;
  right: 15px;
  opacity: 0.6;
}
.card .card-name {
  position: absolute;
  left: 15px;
  bottom: 20px;
  font-family: Tiempos Text Regular;
  font-size: 1.875rem;
  font-style: italic;
}

.drawer {
  margin-bottom: 30px;
}
.drawer .drawer-title {
  display: inline-block;
  margin-bottom: 15px;
  font-family: Montserrat Bold;
  font-size: 3rem;
  letter-spacing: -0.045em;
  color: #004687;
  opacity: 0.8;
  cursor: pointer;
  transition: 200ms;
}
.drawer .drawer-title.active {
  opacity: 1;
}
.drawer .drawer-title img {
  top: -4px;
  position: relative;
  margin-left: 15px;
  transition: 200ms;
}
.drawer .drawer-title img::selection {
  background-color: none;
}
.drawer .drawer-title img.rotate {
  transform: rotate(90deg);
}
.drawer .drawer-title:hover {
  opacity: 1;
}
.drawer .drawer-title::selection {
  background-color: none;
}
.drawer .cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: 200ms;
}

html,
body,
.page-content {
  height: 100%;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 1425px;
  margin: 0 auto;
}

#hero {
  transition: 1s;
}
#hero h1 {
  width: 705px;
  line-height: 130%;
  letter-spacing: -0.025em;
}
#hero p {
  line-height: 185%;
  letter-spacing: -0.025em;
  width: 585px;
  margin: 85px 0;
}
#hero .input-wrapper {
  display: flex;
}
#hero .input-wrapper input {
  margin-right: 15px;
}
#hero #hero-image {
  position: absolute;
  z-index: -1;
  right: -215px;
  bottom: 0;
  height: 100%;
}

#tutorial {
  align-items: flex-end;
  transform: translate(100vw);
  transition: 1s;
  opacity: 0;
}
#tutorial #tutorial-content h1 {
  font-size: 3rem;
  width: 615px;
  letter-spacing: -0.025em;
  line-height: 135%;
  margin-bottom: 55px;
}
#tutorial #tutorial-content p {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: -0.025em;
  width: 880px;
  margin-bottom: 28px;
}
#tutorial #tutorial-image {
  position: absolute;
  height: 100%;
  left: -100px;
  bottom: 0;
}

#dashboard {
  display: block;
  box-sizing: border-box;
  padding: 80px 0;
  height: auto;
  transition: 1s;
  transform: translateX(100vw);
}
#dashboard .greeting {
  margin-bottom: 80px;
}
#dashboard .greeting h1 {
  font-size: 3rem;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
}
#dashboard .greeting p {
  font-size: 1.875rem;
  letter-spacing: -0.025em;
}
#dashboard .greeting #user-name {
  text-transform: capitalize;
}

#lesson {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  max-width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: 200ms;
  overflow: auto;
  display: block;
}
#lesson .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding-bottom: 50px;
}
#lesson .container .side-menu {
  width: 240px;
  margin-top: 165px;
  order: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
#lesson .container .side-menu .quick-chapters {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #004687;
  border-radius: 2px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}
#lesson .container .side-menu .quick-chapters span {
  font-family: Timepos Text Regular;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: italic;
  color: #004687;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 25px;
}
#lesson .container .side-menu .quick-chapters span:last-of-type {
  margin: 0;
}
#lesson .container .side-menu .quick-chapters span:hover {
  text-decoration: underline;
  cursor: pointer;
}
#lesson .container .side-menu .quick-chapters span.nested {
  margin-left: 25px;
}
#lesson .container .side-menu .button {
  width: 100%;
  transition: 200ms;
  border: 1px solid #004687;
}
#lesson .container .side-menu .button:hover {
  background-color: #fff;
  color: #004687;
}
#lesson .container .side-menu .button.pressed {
  background-color: #fff;
  color: #004687;
  pointer-events: none;
}
#lesson .container .lesson-content {
  margin-top: 50px;
  width: 1125px;
}
#lesson .container .lesson-content h1 {
  font-size: 3rem;
  margin: 30px 0;
}
#lesson .container .lesson-content p {
  font-family: Tiempos Text Regular;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: rgba(0, 70, 135, 0.8);
}
#lesson .container .lesson-content #back {
  position: absolute;
  top: 95px;
  left: -50px;
  cursor: pointer;
  transition: 200ms;
}
#lesson .container .lesson-content #back:hover {
  transform: scale(1.5);
}