html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Tiempos Text Regular";
  src: url("../fonts/TiemposText-Regular.ttf");
}
h1 {
  font-family: Montserrat Bold;
  font-size: 4rem;
  color: #004687;
}

p {
  font-family: Montserrat Regular;
  font-size: 1.125rem;
  color: rgba(0, 70, 135, 0.8);
}

input {
  height: 48px;
  width: 345px;
  box-sizing: border-box;
  padding: 18px 20px;
  font-family: Montserrat Regular;
  font-size: 14px;
  outline: none;
  border: 1px solid #004687;
  border-radius: 2px;
  color: #004687;
  text-transform: capitalize;
}
input::placeholder {
  color: rgba(0, 70, 135, 0.5);
  font-style: italic;
  text-transform: none;
}

.button {
  height: 48px;
  width: 225px;
  background-color: #004687;
  color: #fff;
  font-family: Montserrat Bold;
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}
.button#sign-in {
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
}
@media (max-width: 1400px) {
  .button#sign-in {
    margin-top: 10px;
    width: 100%;
  }
}

.card {
  position: relative;
  height: 255px;
  background-color: #fff;
  color: #004687;
  border: 1px solid #004687;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 70, 135, 0.05);
  transition: all 200ms, opacity 200ms linear 0s;
  cursor: pointer;
  opacity: 0;
}
@media (max-width: 950px) {
  .card {
    height: 200px;
  }
}
@media (max-width: 500px) {
  .card {
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 70, 135, 0.05);
  }
}
.card:hover {
  background-color: #004687;
  color: #fff;
  transform: scale(1.04);
}
.card.visible {
  transition: all 200ms, opacity 200ms linear 100ms;
  opacity: 1;
}
.card.visible.read {
  opacity: 0.4;
}
.card.reading::before, .card.read::before {
  content: "still reading";
  position: absolute;
  top: 12px;
  left: 15px;
  color: #004687;
  font-family: Montserrat Bold;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 1px solid #004687;
  border-radius: 2px;
  transition: 200ms;
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .card.reading::before, .card.read::before {
    top: 7px;
    left: 7px;
    font-size: 0.3125rem;
    padding: 2px 6px;
  }
}
.card.read::before {
  content: "read";
  background-color: #004687;
  color: #fff;
}
.card.reading:hover::before, .card.read:hover::before {
  color: #fff;
  border-color: #fff;
}
.card .read-time {
  position: absolute;
  font-family: Montserrat Regular;
  font-style: italic;
  font-size: 0.875rem;
  top: 15px;
  right: 15px;
  opacity: 0.6;
}
@media (max-width: 500px) {
  .card .read-time {
    font-size: 8px;
    top: 7px;
    right: 7px;
  }
}
.card .card-name {
  position: absolute;
  left: 15px;
  bottom: 20px;
  font-family: Tiempos Text Regular;
  font-size: 1.875rem;
  font-style: italic;
  box-sizing: border-box;
  padding-right: 20px;
}
@media (max-width: 950px) {
  .card .card-name {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .card .card-name {
    font-size: 0.875rem;
    left: 7px;
    bottom: 10px;
  }
}

.drawer {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .drawer {
    margin-bottom: 15px;
  }
}
.drawer .drawer-title {
  display: inline-block;
  margin-bottom: 15px;
  font-family: Montserrat Bold;
  font-size: 3rem;
  letter-spacing: -0.045em;
  color: #004687;
  opacity: 0.8;
  cursor: pointer;
  transition: 200ms;
}
@media (max-width: 500px) {
  .drawer .drawer-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .drawer .drawer-title img {
    top: -2px !important;
    height: 10px;
    margin-left: 6px !important;
  }
}
.drawer .drawer-title.active {
  opacity: 1;
}
.drawer .drawer-title img {
  top: -4px;
  position: relative;
  margin-left: 15px;
  transition: 200ms;
}
.drawer .drawer-title img::selection {
  background-color: none;
}
.drawer .drawer-title img.rotate {
  transform: rotate(90deg);
}
.drawer .drawer-title:hover {
  opacity: 1;
}
.drawer .drawer-title::selection {
  background-color: none !important;
}
.drawer .cards-wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  max-height: 0;
  overflow: hidden;
  transition: 200ms;
}
@media (max-width: 1300px) {
  .drawer .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .drawer .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .drawer .cards-wrapper {
    gap: 10px;
  }
}
.drawer .cards-wrapper .completion-tracker {
  width: 100%;
  font-family: Montserrat Regular;
  font-size: 1.875rem;
  letter-spacing: -0.025em;
  color: rgba(0, 70, 135, 0.8);
  transition: 200ms;
  opacity: 0;
  grid-column: 1/-1;
}
.drawer .cards-wrapper .completion-tracker.visible {
  transition-delay: 100ms;
  opacity: 1;
}
@media (max-width: 500px) {
  .drawer .cards-wrapper .completion-tracker {
    font-size: 0.75rem;
    line-height: 160%;
    letter-spacing: -0.045em;
  }
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  padding: 0 50px;
  z-index: 1;
  opacity: 0;
  transition: 400ms;
}
.modal-overlay .modal {
  opacity: 0;
  transform: translateY(50px);
  transition: 400ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #004687;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 30px 40px;
  box-shadow: 0 5px 5px rgba(0, 70, 135, 0.05);
}
@media (max-width: 375px) {
  .modal-overlay .modal {
    padding: 25px 20px;
  }
}
.modal-overlay .modal span {
  font-family: Montserrat Bold;
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  line-height: 125%;
  color: #004687;
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 375px) {
  .modal-overlay .modal span {
    font-size: 0.8rem;
    margin-bottom: 25px;
  }
}
.modal-overlay .modal .button {
  width: 100%;
  transition: 200ms;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.modal-overlay .modal .button:hover {
  transform: scale(1.01);
  opacity: 0.8;
}
.modal-overlay .modal .button#close-modal {
  margin-top: 13px;
  background-color: #fff;
  color: #004687;
  border: 1px solid #004687;
}
@media (max-width: 500px) {
  .modal-overlay .modal .button {
    font-size: 0.625rem;
    height: 36px;
  }
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #004687;
  color: white;
  transition: 400ms;
  opacity: 0;
  z-index: 2;
}
.loading-screen img {
  height: 100px;
  animation: pulse 2s ease-in-out infinite;
}
.loading-screen:before {
  content: "Beta v0.9 - April 2020";
  position: absolute;
  display: block;
  bottom: 25px;
  margin: 0 auto;
  color: #fff;
  font-family: Tiempos Text Regular;
  font-size: 1rem;
  opacity: 0.2;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
html,
body {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 1425px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1600px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
}
@media (max-width: 1150px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 1s;
}
@media (max-width: 1024px) {
  #hero {
    display: block;
  }
}
#hero h1 {
  width: 705px;
  line-height: 130%;
  letter-spacing: -0.025em;
}
@media (max-width: 1600px) {
  #hero h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1400px) {
  #hero h1 {
    font-size: 2.5rem;
    width: 445px;
  }
}
@media (max-width: 1024px) {
  #hero h1 {
    font-size: 2rem;
    width: 600px;
  }
}
@media (max-width: 700px) {
  #hero h1 {
    width: 100%;
    font-size: 1.75rem;
  }
}
#hero p {
  line-height: 185%;
  letter-spacing: -0.025em;
  width: 585px;
  margin: 85px 0;
}
@media (max-width: 1600px) {
  #hero p {
    font-size: 1rem;
    width: 500px;
  }
}
@media (max-width: 1400px) {
  #hero p {
    font-size: 0.9rem;
    width: 445px;
    margin: 55px 0;
  }
}
@media (max-width: 1024px) {
  #hero p {
    font-size: 1.2rem;
    width: 100%;
    line-height: 180%;
  }
}
@media (max-width: 700px) {
  #hero p {
    line-height: 165%;
    font-size: 0.875rem;
  }
}
@media (max-width: 1024px) {
  #hero .input-wrapper {
    display: block !important;
    width: 100% !important;
  }
  #hero .input-wrapper input {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
  }
  #hero .input-wrapper .button {
    margin: 0 auto;
    height: 50px;
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  #hero .input-wrapper input {
    height: 48px;
    font-size: 0.9rem;
  }
  #hero .input-wrapper .button {
    height: 48px;
  }
}
#hero .input-wrapper {
  display: flex;
}
#hero .input-wrapper input {
  margin-right: 15px;
}
@media (max-width: 1400px) {
  #hero .input-wrapper {
    display: block;
    width: 400px;
  }
  #hero .input-wrapper input {
    margin-right: 0;
    width: 100%;
  }
}
@media (max-width: 800px) {
  #hero .input-wrapper {
    width: 100%;
  }
}
#hero img {
  position: absolute;
  z-index: -1;
  right: -215px;
  bottom: 0;
  height: 100%;
  max-width: 1080px;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 1600px) {
  #hero #hero-image {
    left: calc(50% - 60px);
  }
}
@media (max-width: 1100px) {
  #hero #hero-image {
    display: none;
  }
}
@media (max-width: 1024px) {
  #hero #hero-image {
    position: static;
    display: block;
    height: auto;
    width: 95%;
    max-width: 700px;
    min-width: 350px;
  }
}
#hero #hero-alternative {
  display: none;
}
@media (max-width: 1100px) {
  #hero #hero-alternative {
    display: block;
    right: 25px;
  }
}
@media (max-width: 1024px) {
  #hero #hero-alternative {
    display: none;
  }
}

@media (max-width: 1024px) {
  #hero {
    height: auto;
    padding: 40px 0;
  }
  #hero h1 {
    padding: 0 25px;
    text-align: left;
    box-sizing: border-box;
  }
  #hero img {
    margin: 0 auto;
  }
  #hero p {
    position: relative;
    box-sizing: border-box;
    margin: 0 0 35px 0;
    padding: 35px 25px 0 25px;
    text-align: left;
    border-radius: 10px;
    letter-spacing: -0.045em;
    box-shadow: 0px -25px 20px rgba(0, 70, 135, 0.05);
  }
  #hero p span {
    display: block;
    margin-top: 10px;
  }
  #hero .input-wrapper {
    box-sizing: border-box;
    padding: 0 25px;
  }
  #hero .input-wrapper .button {
    margin: 0;
    width: 100%;
  }
}
#tutorial {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translate(100vw);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  #tutorial {
    display: block;
  }
}
@media (max-width: 1400px) {
  #tutorial #tutorial-content {
    box-sizing: border-box;
    padding-right: 30px;
  }
}
#tutorial #tutorial-content h1 {
  font-size: 3rem;
  width: 615px;
  letter-spacing: -0.025em;
  line-height: 135%;
  margin-bottom: 55px;
}
@media (max-width: 1400px) {
  #tutorial #tutorial-content h1 {
    font-size: 2.5rem;
    margin-bottom: 35px;
  }
}
@media (max-width: 1300px) {
  #tutorial #tutorial-content h1 {
    font-size: 2rem;
    width: 500px;
  }
}
@media (max-width: 1024px) {
  #tutorial #tutorial-content h1 {
    box-sizing: border-box;
    padding-right: 100px !important;
  }
}
@media (max-width: 700px) {
  #tutorial #tutorial-content h1 {
    font-size: 1.8rem !important;
    padding-right: 25px !important;
  }
}
#tutorial #tutorial-content p {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: -0.025em;
  width: 820px;
  margin-bottom: 28px;
}
@media (max-width: 1400px) {
  #tutorial #tutorial-content p {
    font-size: 1.2rem;
    width: 700px;
  }
}
@media (max-width: 1300px) {
  #tutorial #tutorial-content p {
    width: 550px;
  }
}
@media (max-width: 1100px) {
  #tutorial #tutorial-content p {
    width: 450px;
  }
}
@media (max-width: 700px) {
  #tutorial #tutorial-content p {
    font-size: 0.875rem !important;
    line-height: 165% !important;
  }
}
#tutorial #tutorial-content #tutorial-image {
  position: absolute;
  height: 100%;
  left: -100px;
  bottom: 0;
  max-width: 1080px;
  object-fit: contain;
  object-position: bottom;
}
@media (max-width: 1600px) {
  #tutorial #tutorial-content #tutorial-image {
    left: 50px;
  }
}
@media (max-width: 1150px) {
  #tutorial #tutorial-content #tutorial-image {
    left: -120px;
  }
}
@media (max-width: 700px) {
  #tutorial #tutorial-content #tutorial-image {
    height: 400px !important;
  }
}

@media (max-width: 1024px) {
  #tutorial {
    padding: 40px 0;
    box-sizing: border-box;
    height: auto;
  }
  #tutorial #tutorial-content {
    padding: 0;
  }
  #tutorial #tutorial-content h1 {
    box-sizing: border-box;
    padding: 0 25px;
    text-align: left;
    font-size: 2rem;
    width: 600px;
    line-height: 130%;
    margin: 0;
    width: auto;
  }
  #tutorial #tutorial-content #tutorial-image {
    display: block;
    position: static;
    height: auto;
    width: 40%;
    max-width: 700px;
    min-width: 350px;
    margin: 0 auto;
  }
  #tutorial #tutorial-content p {
    position: relative;
    font-size: 1.2rem;
    line-height: 180%;
    letter-spacing: -0.045em;
    box-sizing: border-box;
    padding: 0 25px;
    width: auto;
    margin-bottom: 20px;
  }
  #tutorial #tutorial-content p:nth-of-type(1) {
    padding-top: 35px;
    box-shadow: 0px -25px 20px rgba(0, 70, 135, 0.05);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #tutorial #tutorial-content .button {
    width: calc(100% - 50px);
    margin: 30px auto 0 auto;
  }
}
#dashboard {
  display: block;
  box-sizing: border-box;
  padding: 80px 0;
  height: auto;
  transition: 1s;
  transform: translateX(100vw);
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width: 1600px) {
  #dashboard {
    padding: 80px 100px;
  }
}
@media (max-width: 1150px) {
  #dashboard {
    padding: 40px 25px 80px 25px;
  }
}
#dashboard .greeting {
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  #dashboard .greeting {
    margin-bottom: 55px;
  }
}
#dashboard .greeting h1 {
  font-size: 3rem;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  #dashboard .greeting h1 {
    font-size: 1.75rem;
    margin-bottom: 5px;
  }
}
#dashboard .greeting p {
  font-size: 1.875rem;
  letter-spacing: -0.025em;
}
@media (max-width: 500px) {
  #dashboard .greeting p {
    font-size: 0.75rem;
  }
}
#dashboard .greeting #user-name {
  text-transform: capitalize;
  overflow-wrap: break-word;
}
#dashboard .greeting #user-name::after {
  content: "!";
}

#lesson {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  max-width: 100%;
  transform: translateX(100vw);
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
#lesson .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding-bottom: 50px;
}
#lesson .container .nav {
  position: absolute;
  z-index: 1;
  top: 90px;
  transform: translateX(-25px);
}
#lesson .container .nav img {
  cursor: pointer;
  height: 20px;
  transition: 400ms transform;
}
#lesson .container .nav img:hover {
  transform: scale(1.2);
}
#lesson .container .nav img:not(:first-child) {
  display: none;
}
@media (max-width: 1150px) {
  #lesson .container .nav {
    top: auto;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0px -25px 20px rgba(0, 70, 135, 0.05);
  }
  #lesson .container .nav img {
    display: block !important;
    height: auto;
    padding: 15px;
  }
}
#lesson .container .side-menu {
  width: 240px;
  margin-top: 165px;
  order: 1;
  position: sticky;
  top: 50px;
  overflow: auto;
}
@media (max-width: 1150px) {
  #lesson .container .side-menu {
    margin: 0;
    position: fixed;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
  }
  #lesson .container .side-menu .quick-chapters {
    margin: 35px 0 0 25px;
    width: -webkit-fit-content !important;
    width: fit-content !important;
    border: none !important;
    border-radius: unset !important;
    background-color: transparent !important;
  }
  #lesson .container .side-menu .quick-chapters #close-chapters {
    display: block !important;
    margin-bottom: 25px;
    height: 20px;
  }
  #lesson .container .side-menu .button {
    display: none;
  }
}
#lesson .container .side-menu .quick-chapters {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #004687;
  border-radius: 2px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}
#lesson .container .side-menu .quick-chapters #close-chapters {
  display: none;
  cursor: pointer;
}
#lesson .container .side-menu .quick-chapters a {
  font-family: Tiempos Text Regular;
  font-weight: 600;
  font-size: 1.25rem;
  font-style: italic;
  color: #004687;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
}
#lesson .container .side-menu .quick-chapters a:hover {
  text-decoration: underline;
}
#lesson .container .side-menu .quick-chapters a:last-of-type {
  margin: 0;
}
#lesson .container .side-menu .quick-chapters a.nested {
  margin-left: 25px;
}
@media (max-width: 1300px) {
  #lesson .container .side-menu .quick-chapters a {
    font-size: 0.875rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 1150px) {
  #lesson .container .side-menu .quick-chapters a {
    font-size: 30px;
    margin-bottom: 45px;
  }
}
#lesson .container .side-menu .button {
  width: 100%;
  transition: 200ms;
  border: 1px solid #004687;
}
#lesson .container .side-menu .button:hover {
  background-color: #fff;
  color: #004687;
}
#lesson .container .side-menu .button.pressed {
  background-color: #fff;
  color: #004687;
  pointer-events: none;
}
#lesson .container .lesson-content {
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 25px;
  width: 1125px;
}
#lesson .container .lesson-content h1 {
  font-size: 3rem;
  margin: 30px 0;
}
@media (max-width: 615px) {
  #lesson .container .lesson-content h1 {
    font-size: 1.75rem !important;
    margin-bottom: 15px;
  }
}
#lesson .container .lesson-content p {
  font-family: Tiempos Text Regular;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: rgba(0, 70, 135, 0.8);
}
@media (max-width: 500px) {
  #lesson .container .lesson-content p {
    letter-spacing: normal;
  }
}
@media (max-width: 1150px) {
  #lesson .container .lesson-content {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }
}
@media (max-width: 1300px) {
  #lesson .container .lesson-content p {
    font-size: 0.875rem;
  }
  #lesson .container .lesson-content h1 {
    font-size: 2.5rem;
  }
}