<div class="modal settings">
	<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" id="close-settings">
		<path d="M13 1L1 13" stroke="#004687" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		<path d="M1 1L13 13" stroke="#004687" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
	<span>Choose a theme</span>
	<p>Pick a different interface color scheme.</p>
	<div class="theme-grid">
		<div class="theme selected-theme" id="default"></div>
		<div class="theme" id="green"></div>
		<div class="theme" id="orange"></div>
		<div class="theme" id="dark"></div>
	</div>
	<span>Delete all user data</span>
	<p>This action will delete all user data and reset the user experience to the default one. All the progress saved on the website will be erased (eg.: your account name, the cards you’ve read and the cards you are still reading, as well as your completion percentage).</p>
	<div class="button">Delete all user data</div>
</div>