#hero{
	transition: 1s;
	h1{
		width: 705px;
		line-height: 130%;
		letter-spacing: -0.025em;
	}
	p{
		line-height: 185%;
		letter-spacing: -0.025em;
		width: 585px;
		margin: 85px 0;

		@media (max-width: 615px){
			font-size: 1rem;
		}

	}

	@media (max-width: 1200px){
		align-items: center;
		h1{
			width: 100%;
			text-align: center;
		}
		p{
			width: 100%;
			text-align: center;
		}
		.input-wrapper{
			display: block !important;
			width: 50%;
			input{
				width: 100%;
				margin-bottom: 20px;
				text-align: center;
			}
			.button{
				margin: 0 auto;
			}
		}
	}

	.input-wrapper{
		display: flex;
		input{
			margin-right: 15px;
		}

		@media (max-width: 800px){
			width: 100%;
		}

	}
	#hero-image{
		position: absolute;
		z-index: -1;
		right: -215px;
		bottom: 0;

		@media (max-width: 1300px){
			right: -250px;
		}
		@media(max-width: 1200px){
			position: static;
			display: block;
			height: 378px;
		}
	}
}

// C H A N G E L A T E R

@media (max-width: 1200px){
	#hero{
		height: auto;
		padding: 40px 0;
		h1{
			padding: 0 25px;
			text-align: left;
			font-size: 1.75rem;
			line-height: 130%;
			box-sizing: border-box;
		}
		img{
			margin: 0 auto;
		}
		p{
			position: relative;
			box-sizing: border-box;
			margin: 0 0 35px 0;
			padding: 35px 25px 0 25px;
			text-align: left;
			border-radius: 10px;
			font-size: 0.875rem;
			line-height: 165%;
			letter-spacing: -0.045em;
			box-shadow: 0px -25px 20px rgba(0, 70, 135, 0.05);
			span{
				display: block;
				margin-top: 10px;
			}
		}
		.input-wrapper{
			box-sizing: border-box;
			padding: 0 25px;
			.button{
				margin: 0;
				width: 100%;
			}
		}
	}
}