#hero{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	transition: 1s;
	@media (max-width: 1024px){
		display: block;
	}
	h1{
		width: 705px;
		line-height: 130%;
		letter-spacing: -0.025em;
		@media (max-width: 1600px){
			font-size: 3.5rem;
		}
		@media (max-width: 1400px){
			font-size: 2.5rem;
			width: 445px;
		}
		@media (max-width: 1024px){
			font-size: 2rem;
			width: 600px;
		}
		@media (max-width: 700px){
			width: 100%;
			font-size: 1.75rem;
		}
	}
	p{
		line-height: 185%;
		letter-spacing: -0.025em;
		width: 585px;
		margin: 85px 0;
		@media (max-width: 1600px){
			font-size: 1rem;
			width: 500px;
		}
		@media (max-width: 1400px){
			font-size: 0.9rem;
			width: 445px;
			margin: 55px 0;
		}
		@media (max-width: 1024px){
			font-size: 1.2rem;
			width: 100%;
			line-height: 180%;
		}
		@media (max-width: 700px){
			line-height: 165%;
			font-size: 0.875rem;
		}
	}

	@media (max-width: 1024px){
		.input-wrapper{
			display: block !important;
			width: 100% !important;
			input{
				width: 100%;
				height: 70px;
				margin-bottom: 20px;
				text-align: center;
				font-size: 1.4rem;
			}
			.button{
				margin: 0 auto;
				height: 50px;
				font-size: 1.2rem;
			}
		}
	}

	@media (max-width: 700px){
		.input-wrapper{
			input{
				height: 48px;
				font-size: 0.9rem;
			}
			.button{
				height: 48px;
			}
		}
	}

	.input-wrapper{
		display: flex;
		input{
			margin-right: 15px;
		}
		@media (max-width: 1400px){
			display: block;
			width: 400px;
			input{
				margin-right: 0;
				width: 100%;
			}
		}
		@media (max-width: 800px){
			width: 100%;
		}

	}
	img{
		position: absolute;
		z-index: -1;
		right: -215px;
		bottom: 0;
		height: 100%;
		max-width: 1080px;
		object-fit: contain;
		object-position: bottom;
	}
	#hero-image{
		@media (max-width: 1600px){
			left: calc(50% - 60px);
		}
		@media(max-width: 1100px){
			display: none;
		}
		@media(max-width: 1024px){
			position: static;
			display: block;
			height: auto;
			width: 95%;
			max-width: 700px;
			min-width: 350px;
		}
	}
	#hero-alternative{
		display: none;
		@media (max-width: 1100px){
			display: block;
			right: 25px;
		}
		@media (max-width: 1024px){
			display: none;
		}
	}
}

@media (max-width: 1024px){
	#hero{
		height: auto;
		padding: 40px 0;
		h1{
			padding: 0 25px;
			text-align: left;
			box-sizing: border-box;
		}
		img{
			margin: 0 auto;
		}
		p{
			position: relative;
			box-sizing: border-box;
			margin: 0 0 35px 0;
			padding: 35px 25px 0 25px;
			text-align: left;
			border-radius: 10px;
			letter-spacing: -0.045em;
			box-shadow: 0px -25px 20px rgba(0, 70, 135, 0.05);
			span{
				display: block;
				margin-top: 10px;
			}
		}
		.input-wrapper{
			box-sizing: border-box;
			padding: 0 25px;
			.button{
				margin: 0;
				width: 100%;
			}
		}
	}
}