#lesson{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	max-width: 100%;
	transform: translateX(100vw);
	overflow-x: hidden;
	overflow-y: hidden;
	display: block;
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		height: auto;
		padding-bottom: 50px;
		.nav{
			position: absolute;
			z-index: 1;
			top: 90px;
			transform: translateX(-25px);
			svg{
				cursor: pointer;
				height: 20px;
				transition: 400ms transform;
				&:hover{
					transform: scale(1.2);
				}
				&.completed{
					fill: $blue;
				}
			}
			svg:first-child{
				@media (min-width: 1150px){
					width: 20px;
				}
			}
			svg:not(:first-child){
				display: none;
			}

			@media (max-width: 1150px){
				top: unset;
				bottom: 0;
				left: 0;
				transform: translateY(0);
				position: fixed;
				height: 70px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				background-color: #fff;
				box-shadow: 0px -25px 20px rgba($blue, 0.05);
				svg{
					display: block !important;
					height: auto;
					padding: 15px;
				}
			}
		}
		.side-menu{
			// width: 280px;
			width: 300px;
			margin-top: 165px;
			order: 1;
			position: sticky;
			top: 50px;
			overflow: auto;

			@media (max-width: 1150px){
				margin: 0;
				position: fixed;
				z-index: -1;
				opacity: 0;
				pointer-events: none;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;
				background-color: #fff;
				.quick-chapters{
					margin: 35px 0 0 25px;
					width: auto !important;
					border: none !important;
					border-radius: unset !important;
					background-color: transparent !important;
					max-height: unset !important;
					padding: 0 0 100px 0 !important;
					#close-chapters{
						display: block !important;
						margin-bottom: 35px;
						height: 25px;
						width: 25px;
					}
				}
				.button{
					display: none;
				}
			}
			.quick-chapters{
				box-sizing: border-box;
				border: 1px solid $blue;
				border-radius: 2px;
				width: 100%;
				padding: 15px;
				margin-bottom: 15px;
				max-height: 350px;
				overflow: auto;
				&::-webkit-scrollbar{
					width: 5px;
				}
				&::-webkit-scrollbar-thumb{
					background-color: $blue;
				}
				#close-chapters{
					display: none;
					cursor: pointer;
				}
				a{
					font-family: Tiempos Text Regular;
					font-weight: 600;
					font-size: 1.25rem;
					color: $blue;
					letter-spacing: 0.02em;
					display: block;
					margin-bottom: 25px;
					text-decoration: none;
					line-height: 120%;
					&:hover{
						text-decoration: underline;
					}
					&:last-of-type{
						margin: 0;
					}
					&.nested{
						margin-left: 10px;
					}

					@media (max-width: 1400px){
						font-size: 0.875rem;
						margin-bottom: 15px;
					}
					@media (max-width: 1150px){
						font-size: 30px;
						margin-bottom: 45px;
					}
				}
			}
			.button{
				width: 100%;
				transition: 200ms;
				border: 1px solid $blue;
				&:hover{
					background-color: #fff;
					color: $blue;
				}
				&.pressed{
					background-color: #fff;
					color: $blue;
					pointer-events: none;
				}
			}
		}
		.lesson-content{
			position: relative;
			margin-top: 50px;
			margin-right: 50px;
			margin-left: 25px;
			width: 1125px;
			h1{
				font-size: 3rem;
				margin: 30px 0;
				@media (max-width: 615px){
					font-size: 1.75rem !important;
					margin-bottom: 15px
				}
			}
			p{
				font-family: Tiempos Text Regular;
				font-size: 1.125rem;
				font-weight: 600;
				line-height: 180%;
				text-align: justify;
				letter-spacing: 0.02em;
				margin-bottom: 20px;
				@media (max-width: 500px){
					letter-spacing: normal;
				}
			}
			.list{
				margin: 0 0 20px 25px;
				p{
					margin-bottom: 5px;
					&::before{
						content: ' ';
						display: inline-block;
						height: 10px;
						width: 10px;
						box-sizing: border-box;
						border: 1px solid $blue;
						margin-right: 10px;
						border-radius: 2px;
					}
				}
				@media (max-width: 375px){
					margin-left: 0;
				}
			}

			@media (max-width: 1150px){
				margin-top: 0;
				margin-right: 0;
				margin-left: 0;
				width: auto;
			}

			@media (max-width: 1400px){
				p{
					font-size: 0.875rem;
				}
				h1{
					font-size: 2.5rem;
				}
			}
		}
	}
}
