doctype html
html(lang="en")
	head
		title Medicine Drawers
		link(rel="shortcut icon", href="assets/img/favicon.png")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		.page-content

			.container#hero
			.container#tutorial
			.container#dashboard
			.container#lesson

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="assets/js/app.js")