doctype html
html(lang="en")
	head
		title Medicine Drawers
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name='title', content='Medicine Drawers')
		meta(name='description', content='Medicine Drawers is a free library that is personalized to every reader’s choices, habits and personalities, keeping track of what you study.')
		meta(name='keywords', content='medicine, study, reading, student, nurse, medic, doctor, learning, school')
		meta(name='robots', content='index, follow')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='language', content='English')
		meta(name='author', content='Vlad Solomon')
		meta(property='og:type' content='website')
		meta(property='og:url' content='https://medicinedrawers.com')
		meta(property='og:title' content="Medicne Drawers - Learn at your own pace!")
		meta(property='og:description' content='Medicine Drawers is a free library that is personalized to every reader’s choices, habits and personalities, keeping track of what you study.')
		meta(property='og:image' content='https://res.cloudinary.com/dbkhowucg/image/upload/v1588341531/medicinedrawers/og-cover.jpg')
		link(rel="shortcut icon", href="assets/img/favicon.png")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		.page-content

			.container#hero
			.container#tutorial
			.container#dashboard
			.container#lesson

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="assets/js/app.js")