.drawer
	span.drawer-title Circulatory System
		svg(width='17' height='22' viewbox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M14.1004 11.7931L4.1004 19.2892C3.43964 19.7845 2.5 19.3118 2.5 18.4907L2.5 3.49852C2.5 2.6775 3.43964 2.20475 4.1004 2.70006L14.1004 10.1962C14.6332 10.5956 14.6332 11.3937 14.1004 11.7931Z' stroke='#004687' stroke-width='4')
	.cards-wrapper
		span.completion-tracker
		.card(data-lesson="pages/circulatory-introduction")
			span.read-time 4 min.
			span.card-name Introduction
		.card(data-lesson="pages/arteries")
			span.read-time 11 min.
			span.card-name Arteries
		.card(data-lesson="pages/capillaries")
			span.read-time 11 min.
			span.card-name Capillaries
		.card(data-lesson="pages/veins")
			span.read-time 14 min.
			span.card-name Veins
		.card(data-lesson="pages/portal-vein")
			span.read-time 6 min.
			span.card-name Portal Vein
		.card(data-lesson="pages/heart")
			span.read-time 40 min.
			span.card-name Heart
		.card(data-lesson="pages/coronary-circulation")
			span.read-time 14 min.
			span.card-name Coronary circulation
		.card(data-lesson="pages/pulmonary-circulation")
			span.read-time 4 min.
			span.card-name Pulmonary circulation
		.card(data-lesson="pages/cerebral-circulation")
			span.read-time 8 min.
			span.card-name Cerebral circulation
		.card(data-lesson="pages/lymphatic-system")
			span.read-time 24 min.
			span.card-name Lymphatic system