.drawer
	span.drawer-title Circulatory System
		img(src="assets/img/expand.svg", alt="")
	.cards-wrapper
		.card(data-lesson="pages/lesson1")
			span.read-time 5 min.
			span.card-name asds
		.card(data-lesson="pages/lesson2")
			span.read-time 5 min.
			span.card-name Introduction
		.card
			span.read-time 5 min.
			span.card-name Introduction
		.card
			span.read-time 5 min.
			span.card-name Introduction