.drawer
	span.drawer-title Digestive and Excretory System
		img(src="assets/img/expand.svg", alt="")
	.cards-wrapper
		.card(data-lesson="pages/digestive-introduction")
			span.read-time 5 min.
			span.card-name Introduction
		.card(data-lesson="pages/mouth")
			span.read-time 5 min.
			span.card-name Mouth
		.card(data-lesson="pages/mouth2")
			span.read-time 5 min.
			span.card-name Pharynx
		.card
			span.read-time 5 min.
			span.card-name Esophagus
		.card
			span.read-time 5 min.
			span.card-name Diaphargm??
		.card
			span.read-time 5 min.
			span.card-name Stomach
		.card
			span.read-time 5 min.
			span.card-name Spleen
		.card
			span.read-time 5 min.
			span.card-name Liver