.drawer
	span.drawer-title.disabled Digestive System
		//- svg(width='17' height='22' viewbox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg')
		//- 	path(d='M14.1004 11.7931L4.1004 19.2892C3.43964 19.7845 2.5 19.3118 2.5 18.4907L2.5 3.49852C2.5 2.6775 3.43964 2.20475 4.1004 2.70006L14.1004 10.1962C14.6332 10.5956 14.6332 11.3937 14.1004 11.7931Z' stroke='#004687' stroke-width='4')
	.cards-wrapper
		span.completion-tracker
		.card(data-lesson="pages/digestive-introduction")
			span.read-time 4 min.
			span.card-name Introduction
		.card(data-lesson="pages/mouth")
			span.read-time 14 min.
			span.card-name Mouth
		.card(data-lesson="pages/mouth2")
			span.read-time 5 min.
			span.card-name Pharynx
		.card
			span.read-time 5 min.
			span.card-name Esophagus
		.card
			span.read-time 5 min.
			span.card-name Diaphragm
		.card
			span.read-time 5 min.
			span.card-name Stomach
		.card
			span.read-time 5 min.
			span.card-name Spleen
		.card
			span.read-time 5 min.
			span.card-name Liver
		.card
			span.read-time x
			span.card-name Pancreas
		.card
			span.read-time x
			span.card-name Lower gastrointestinal tract